@media (max-width: 500px) {
    .container .advice-box .divider .img-desktop {
        display: none;
    }

    .container .advice-box .divider .img-mobile {
        display: block;
    }
}

@media (max-width: 475px) {
    .container {
        align-items: flex-start;
        margin-top: 30%;
    }
}

@media (max-width: 375px) {
    .container .advice-box {
        margin-inline: 1.1rem;
    }

    .container .advice-box .advice {
        padding-inline: 3rem;
    }
}